{% extends 'Department_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" height="210" border="0" class="table table-striped">
      <tr>
        <td><a href="/ViewAndManageStaff">View Staff And Manage Staff</a></td>
      </tr>
      <tr>
        <td><a href="/dpt_policy">View Project And Policy</a></td>
      </tr>
      <tr>
        <td><a href="/ManageComplaint">Manage Complaints</a></td>
      </tr>
      <tr>
        <td><a href="/ManageApplication">Manage Application</a></td>
      </tr>
      <tr>
        <td><a href="/AssignWork">Assign Work And Update Work </a></td>
      </tr>
      <tr>
        <td><a href="/ViewReport">View Report</a></td>
      </tr>
      <tr>
        <td><a href="/ViewRating">View Rating</a></td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}