{% extends 'Councilor_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="0" class="table table-striped">
      <tr>
	    <td><a href="/separate_chat">Chat</a></td>        
      </tr>
      <tr>
	    <td><a href="/Notification">Send Notification</a></td>
      </tr>
      <tr>
        <td><a href="/Complaint">Send Complaint</a></td>
      </tr>
      <tr>
        <td><a href="/councilor_policy">View Project And Policies</a></td>
      </tr>
      <tr>
        <td><a href="/Suggestion">Send Suggestions</a></td>
      </tr>
      <tr>
        <td><a href="/Councilor_Feedback">View Feedback</a></td>
      </tr>
      <tr>
        <td><a href="/frequent_issues">Frequent Issues </a></td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}