{% extends 'Councilor_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="left">
    <table width="200" border="0" class="table table-striped">
      <tr>
        <td><div align="left"><a href="/users_chat">Interact With Users</a></div></td>
      </tr>
      <tr>
        <td><div align="left"><a href="/mayors_chat">Interact With Mayor</a></div></td>
      </tr>
      <tr>
        <td><div align="left"><a href="/councilors_chat">Interact With Councilors</a></div></td>
      </tr>
      </table>
  </div>
</form>
{% endblock %}