{%  extends 'Mayor_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" height="139" border="0" class="table table-striped">
      <tr>
        <td><a href="/MayorInteraction">Interact With Councilor</a></td>
      </tr>
      <tr>
        <td><a href="/Feedback">View Feedback</a></td>
      </tr>
      <tr>
        <td><a href="/Suggestions">View Suggestion</a></td>
      </tr>
      <tr>
        <td><a href="/Policies">Project And Policies</a></td>
      </tr>
      <tr>
        <td><a href="/ViewIssues">View Issues Report</a></td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}