{%  extends 'Admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" height="144" border="0"  class="table table-striped">
      <tr>
        <td><a href="/MayorDetails">Manage Mayor</a></td>
      </tr>
      <tr>
        <td><a href="/Councilordetails">Manage Councilor</a></td>
      </tr>
      <tr>
        <td><a href="/DepartmentDetails">Manage Department</a></td>
      </tr>
      <tr>
        <td><a href="/view_mayor">Previous Mayor Details </a></td>
      </tr>
      <tr>
        <td><a href="/aboutcorportion">About corporation</a></td>
      </tr>
    </table>
    <a href="#"></a>
  </div>
</form>
{% endblock %}
