{%  extends 'Admin_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Mayor_reg">
<div  align="center">
  <table width="350" border="0">
    <tr>
      <td><div align="left">Year :</div></td>
	      <td><label> </label>
          <div align="left">
            <select name="select" required >
              <option value="">Select</option>
              <option>1950</option>
              <option>1951</option>
              <option>1952</option>
              <option>1953</option>
              <option>1954</option>
              <option>1955</option>
              <option>1956</option>
              <option>1957</option>
              <option>1958</option>
              <option>1959</option>
              <option>1960</option>
              <option>1961</option>
              <option>1962</option>
              <option>1963</option>
              <option>1964</option>
              <option>1965</option>
              <option>1966</option>
              <option>1967</option>
              <option>1968</option>
              <option>1969</option>
	          <option>1970</option>
              <option>1971</option>
              <option>1972</option>
              <option>1973</option>
              <option>1974</option>
              <option>1975</option>
              <option>1976</option>
              <option>1977</option>
              <option>1978</option>
              <option>1979</option>
              <option>1980</option>
              <option>1981</option>
              <option>1982</option>
              <option>1983</option>
              <option>1984</option>
              <option>1985</option>
              <option>1986</option>
              <option>1987</option>
              <option>1988</option>
              <option>1989</option>
              <option>1990</option>
              <option>1991</option>
              <option>1992</option>
              <option>1993</option>
              <option>1994</option>
              <option>1995</option>
              <option>1996</option>
              <option>1997</option>
              <option>1998</option>
              <option>1999</option>
              <option>2000</option>
              <option>2001</option>
              <option>2002</option>
              <option>2003</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2008</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
              <option>2031</option>
              <option>2032</option>
              <option>2033</option>
              <option>2034</option>
              <option>2035</option>
              <option>2036</option>
              <option>2037</option>
              <option>2038</option>
              <option>2039</option>
              <option>2040</option>
              <option>2041</option>
              <option>2042</option>
              <option>2043</option>
              <option>2044</option>
              <option>2045</option>
              <option>2046</option>
              <option>2047</option>
              <option>2048</option>
              <option>2049</option>
              <option>2050</option>
            </select>
        </div></td>
		 </tr>
		    <tr>
      <td><div align="left">First Name : </div></td>
	   <td><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z]{3,26}" />
      </label></td>
	  </tr>
    <tr>
      <td><div align="left">Second Name : </div></td>
      <td><label>
        <input type="text" name="textfield2" required pattern="[A-Z a-z]{1,26}" />
      </label></td>
    </tr>
    <tr>
	  <td><div align="left">Qualification :</div></td>
		 <td><label> </label>
          <div align="left">
            <select name="select2" required>
              <option value="">Select</option>
              <option>SSLC</option>
              <option>PLUS TWO</option>
              <option>UNDER GRADUATE</option>
              <option>POST GRADUATE</option>
            </select>
        </div></td>
    </tr>
    <tr>
	  <td><div align="left">Gender : </div></td>
	     <td>
	     <label>
	       <input type="radio" name="RadioGroup1" value="Male" />
	       Male</label>	     
	     <label>
	       <input type="radio" name="RadioGroup1" value="Female" />
	       Female</label>	     
         </td>
		 </tr>
    <tr>
      <td><div align="left">Date Of Birth :</div></td>      
      <td>
        <div align="left">
          <label>
          <input type="date" name="textfield3" required />
          </label>
        </div></td>
    </tr>
    <tr>
      <td><div align="left">Phone No : </div></td>
	    <td><label>
        <input type="number" name="textfield4" required pattern="[9876][0-9]{9}"/>
      </label></td>
	    </tr>
    <tr>
      <td><div align="left">Email :</div></td>
      <td><label>
        <input type="text" name="textfield5" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
      </label></td>
    </tr>
    <tr>
      <td><div align="left">Username : </div></td>
	   <td><label>
        <input type="text" name="textfield7" required/>
      </label></td>
	    </tr>
    <tr>
      <td><div align="left">Password :</div></td>
      <td><label>
        <input type="password" name="textfield6" required/>
      </label></td>
    </tr>
    <tr>
      <td><label> </label>
          <div align="center"></div></td>
      <td><label>
        <div align="left">
          <input type="submit" name="Submit" value="Register" class="btn btn-outline-primary"/>
          </div>
      </label></td>
    </tr>
  </table>
</div>
</form>
{% endblock %}
