<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<div  align="center">
  <table width="200" border="1">
    <tr>
      <td>Year</td>
      <td><label>

          <div align="left">
              <select name="select">
                <option>1990</option>
                <option>1991</option>
                <option>1992</option>
                <option>1993</option>
                <option>1994</option>
                <option>1995</option>
                <option>1996</option>
                <option>1997</option>
                <option>1998</option>
                <option>1999</option>
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
                <option>2027</option>
                <option>2028</option>
                <option>2029</option>
                <option>2030</option>
                <option>2031</option>
                <option>2032</option>
                <option>2033</option>
                <option>2034</option>
                <option>2035</option>
                <option>2036</option>
                <option>2037</option>
                <option>2038</option>
                <option>2039</option>
                <option>2040</option>
                <option>2041</option>
                <option>2042</option>
                <option>2043</option>
                <option>2044</option>
                <option>2045</option>
                <option>2046</option>
                <option>2047</option>
                <option>2048</option>
                <option>2049</option>
                <option>2050</option>
              </select>
          </div>
          </label></td></tr>
    <tr>
      <td>First Name </td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Second Name </td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label></label>
        <label>
        <div align="left">
          <input type="date" name="textfield3" />
          </div>
        </label></td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td><label>
        <div align="left">
          <select name="select2">
            <option>SSLC</option>
            <option>PLUS TWO</option>
            <option>UNDER GRADUATE</option>
            <option>POST GRADUATE</option>
          </select>
          </div>
      </label></td>
    </tr>
    <tr>
      <td>Phone No </td>
      <td><label>
        <input type="number" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr>
	<tr>
      <td>Username </td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label>
        <input type="password" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Update" />
          </div>
      </label></td>
    </tr>
  </table>
  </div>
</form>
</body>
</html>
