{%  extends 'index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<div align="center">
  <table width="200" border="1">
    <tr>
      <td>First Name </td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Second Name </td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label>
        <input type="date" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td>Ward</td>
      <td><label>
        <input type="number" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td>Phone No </td>
      <td><label>
        <input type="number" name="textfield5" />
      </label></td>
    </tr>
    <tr>
      <td>Email Id </td>
      <td><label>
        <input type="text" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
        <input type="number" name="textfield9" />
      </label></td>
    </tr>
	<tr>
      <td>Username</td>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label>
        <input type="password" name="textfield10" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Update" />
          </div>
      </label></td>
    </tr>
  </table>
  </div>
</form>
{% endblock %}